@import '../../../assets/styles/variables.scss';

.header {
    padding: 15px;
    background-color: $header-bg;
}

.logo {
    max-height: 150px;
    max-width: 150px;
}

.content {
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
}